<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: blue">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Marcos Moura, Engenheiro de Controle e Automação
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/curriculo">Curriculo</a></li>
            </ul>
        </div>
    </div>
    </nav>