
<html>
<style>

.list {text-decoration: none}

</style>    
<div  style="text-decoration: underline">
        <ul>
            <li>
                list1
                <ul class="list">teste
                    <li class="list">Sub list1</li>
                    <li>Sub list2</li>
                    <li>Sub list3</li>
                </ul>
            </li>
            <li>
                list2
                <ul>
                    <li>Sub list1</li>
                    <li>Sub list2</li>
                    <li>Sub list3</li>
                </ul>
            </li>
        </ul>
        </div>
        </html>