<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<style>
    img{
        border-radius: 30%;
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
    }
   
</style>

<main>
    <div class="jumbotron" style="margin: 0px 20% 0px 20%">
        <img src="/images/foto.JPG">
        <h1 style=" font-size: 24px">
            My Personal WEB page</h1>
        <p style="font-size: 18px; text-align: justify">Welcome to my personal web page. I am going to 
        using this place to post my projects and my carrer.
        I am Control and Automation Engeneer and now working
        with systems developemant and Web design to procces 
        factorys or personal.
        </p>
    
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>